body{
    font-family: 'Nunito', sans-serif;
}

#innerBody{
    position: fixed;
    width: 100%;
    top:50px;
    left:0px;
    height: 100%;
}

#titleBar{
    height: 50px;
    width:100%;
    position: fixed;
    top:0px;
    left:0px;
    background-color: rgb(36, 36, 36);
    color: rgb(228, 228, 228);
    font-size: 30px;
    text-align: center;
    line-height: 50px;
}

#inputOuter,#outputOuter {
    position: absolute;
    top:0px;
    height:100%;
    width:50%;
    border: solid 1px rgb(67, 67, 67);
    background-color: #282a36;
}
#inputOuter {
    left: 0%;
    
}
#outputOuter{
    left: 50%;
}
.topBar{
    position: relative;
    top:0px;
    left: 0px;
    width:100%;
    height:50px;
    background-color: #2b2b2b;
    box-sizing: border-box;
    border-bottom: solid 1px rgb(67, 67, 67);
    color: white;
    font-size: 20px;
    line-height:50px;
    padding-left: 20px;
}
#inputInner, #outputInner, #stackInner {
    position: relative;
    left: 0%;
    width:100%;
}

#stackInner{
    height: 200px;
}

#inputInner{
    height: calc(100% - 100px);
}

#outputInner{
    height: calc(100% - 300px);
}

#runButton{
    background-color: rgb(50, 50, 255);
    position: absolute;
    right: 10px;
    width: 70px;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 3px;
    border:none;
    color: white;
    font-size:15px;
    font-family: 'Nunito', sans-serif;
}

#runButton:hover{
    background-color: rgb(0, 0, 189);
}
